<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <ul>
    <li>
      <a href="/register">Register</a>
    </li>
    <li>
      <a href="/update-email">Update email for a username</a>
    </li>
  </ul>
</body>

</html>