<!DOCTYPE html>
<html>

<head>
  <title>Success</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= heading %>
  </h1>
  <p>Please verify your email address.</p>
</body>

</html>