<!DOCTYPE html>
<html>

<head>
  <title>Registration</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Regstration successful</h1>
  <p>Please verify your email address.</p>
</body>

</html>