<!DOCTYPE html>
<html>

<head>
  <title>Registration</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Congratulations!</h1>
  <p>Your email address is now verified</p>
</body>

</html>